version: "3.7"

services:
  app_proxy:
    environment:
      # CORREÇÃO: Usamos apenas o nome do serviço abaixo ('server')
      # O Docker resolve isso automaticamente na rede interna.
      APP_HOST: server
      APP_PORT: 631
      PROXY_AUTH_ADD: "false"

  server:
    image: wastolord/plasma-m1132:v2
    # REMOVIDO: container_name (Deixe o Umbrel gerenciar os nomes)
    
    restart: on-failure
    stop_grace_period: 1m
    
    # Obrigatório para USB
    privileged: true
    
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - ${APP_DATA_DIR}/data/cups:/etc/cups
      - ${APP_DATA_DIR}/data/log:/var/log/cups

    ports:
      - "631:631"

    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M