version: "3.7"

services:

  app_proxy:
    environment:
      # The format here is: <app-id>_<docker-service-name>_1
      APP_HOST: plasma-printer-controler
      APP_PORT: 9100
    
  server:
    image: image: wastolord/plasma-m1132:v1
    user: "1000:1000"
    init: true
